*{
    margin: 0;
    padding: 0;
}

/* css index */

.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    gap: 20px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
     box-shadow: 0 13px 20px rgba(0, 0, 0, 0.2);
     position: fixed;
}
.conteudo {
    background: linear-gradient(135deg, #b6683b, #cc6520, #b63827);
    width: 100%;
    height: 1000px;
    display: flex;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:hover {
    color: rgb(228, 103, 1);
    animation: normal 0.9ms;
}

.rodape-home{
    width: 100%;
    height: 130px;
    background-color: #535353;
}
.links-rodape-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 200;
}
.links-rodape{
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 200;
}
.foto-home{
    width:auto;
    height: 700px;
    margin-left: 300px;
    margin-top: 125px;
}

.textos-home{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
}

.titulo-home {
    font-size: 150px;
    color: white;
    margin-top: 225px;
      font-family: "Ubuntu", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.paragrafo-home{ 
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    font-size: 40px;
}
/* 
CSS DA PAGINA CONTATO */


.conteudo-contato{
    display: flex;
    align-items: center;
    justify-content: center; 
    min-height: 100vh;
    background-color: #cc6520;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
}
.container-envio {
    width: 500px;
    height: 300px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 13px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.containerenvio {    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.titulo-container-contato{
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;

}

.input-telefone{
    width: 400px;
    height: 50px;
    border: 1px solid #b6683b;
    border-radius: 5px;
    text-align: center;
}

.input-nome{
    width: 400px;
    height: 50px;
    border: 1px solid #b6683b;
    border-radius: 5px;
    text-align: center;
}
.input-mensagem{
    width: 400px;
    height: 50px;
    border: 1px solid  #b6683b;
    border-radius: 5px;
    text-align: center;
}
.btn-enviar {
    width: 100px;
    font-size: 17px;
    height: 40px;
    border: 1px solid#b6683b;
    border-radius: 20px;
}

/* css SOBRE */

.conteudo-sobre{
    background-color: #cc6520;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    width: 700px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 13px 20px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.conteudo-sobre-ods{
    background-color: #cc6520;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.titulo-container{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 20px;
    font-size: 30px;
}
.paragrafo1-container{
     font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 10px;
    font-size: 17px;
}
.paragrafo2-container{
     font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 10px;
    font-size: 22px;
}
h4 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 10px;
    font-size:15px;
}
.btn-sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid rgb(80, 80, 80) 1px;
    background-color: rgb(88, 88, 88);
    width: 140px;
    height: 40px;
    border-radius: 90px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: aliceblue;
    margin-left: 40%;
}
.container-nossos-contatos{
    width: 900px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 13px 20px rgba(0, 0, 0, 0.2);
    background-color: aliceblue;
    padding: 20px;

}
table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      background-color: #ffffff;
 }
th, td {
      border: 1px solid #cce3d8;
      padding: 12px;
      text-align: left;
}
th {
      background-color: #9c7727;
      color: white;
}
tr:nth-child(even) {
      background-color: #f9f8f2;
}
tr:hover {
      background-color: #fff3b0;
}

p{
    text-align: center;
}
.btn-voltar-contato{
    display: flex;
    justify-content: center;
}
.conteudo-comoAjudar {
    background-color: #cc6520;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.conteudo-locais{
     background-color: #cc6520;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box {
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      padding: 25px;
      margin-bottom: 20px;
    }
.voltar-locais{
    display: flex;
    justify-content: center;
}
.conteudo-dados{
     background-color: #cc6520;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.conteudo-dados-tabela {
        background-color: #cc6520;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.btn-dados{
    display: flex;
    justify-content: center;
    font-size: x-large;
}